services:
  app:
    build: .
    volumes:
      - .:/app
      - /app/repository_after/node_modules
      - /app/repository_before/node_modules
    environment:
      - CI=true
      - NODE_ENV=development
    working_dir: /app
