services:
  app:
    build: .

  test:
    build: .
    command: pytest -v tests

  evaluate:
    build: .
    command: python evaluation/evaluation.py --output /output/report.json
    volumes:
      - ./evaluation/reports:/output:z
