version: '3.8'

services:
  app:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./:/app
    command: /bin/sh -c "echo 'Task Scheduler Fix Environment Ready'"
    stdin_open: true
    tty: true
