services:
  app-after:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./repository_after:/app
      - ./tests:/app/tests
      - ./tests:/tests
    working_dir: /app
    command: cargo test --release

  evaluation:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./repository_after:/app
      - ./tests:/app/tests
      - ./tests:/tests
      - ./evaluation:/app/evaluation
    working_dir: /app
    command: cargo run --manifest-path=/app/evaluation/Cargo.toml --release

