version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - TARGET=after
    stdin_open: true
    tty: true
