version: "3.9"

services:
  test-before:
    build: .
    volumes:
      - ./repository_before:/app
      - ./tests:/tests
    working_dir: /app
    command: >
      bash -c "pytest -v -s /tests/test.py"

  test-after:
    build: .
    volumes:
      - ./repository_after:/app
      - ./tests:/tests
    working_dir: /app
    command: >
      bash -c "pytest -v -s /tests/test.py"
