services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    ports:
      - "5000:5000"
    networks:
      - create-songs-net

  client:
    build:
      context: .
      dockerfile: Dockerfile
      target: client
    ports:
      - "5173:5173"
    depends_on:
      - server
    networks:
      - create-songs-net
    environment:
      - VITE_API_BASE_URL=http://localhost:5000

  tests:
    build:
      context: .
      dockerfile: Dockerfile
      target: tests

  evaluation:
    build:
      context: .
      dockerfile: Dockerfile
      target: evaluation

networks:
  create-songs-net:
