services:
  test-after:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: pytest -v tests/test.py

  evaluation:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: python evaluation/evaluation.py
